display: float;

.grapharea {
    float: left;
}

.textarea {
    float: left;
}

.link {
    stroke: #999;
    stroke-opacity: .8;
}

.group {
    stroke: #fff;
    stroke-width: 1.5px;
    opacity: 0.2;
}
